.sidebar {
  width: 220px;
  background-color: #facc15;
  color: white;
  padding: 1rem;
  min-height: 100vh;
  transition: transform 0.3s ease;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.menu-list, 
.submenu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item,
.submenu-item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.8rem 1rem;
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
} 

.menu-item:hover, 
.submenu-item:hover {
  background-color: #3b4b5c;
  cursor: pointer;
}

.icon {
  font-size: 1.2rem;
  flex-shrink: 0;
}
/* Escondendo a Sidebar em telas pequenas */
@media (max-width: 768px) {
  .sidebar {
  display: block !important;
  }

  .sidebar.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
  }
}


